@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
    --genoa: #29726C;
    --denim: #0d6db7;
    --java: #2F918B;
    --opal: #A2BEBB;
    --black: #000000;

}

* {
    box-sizing: border-box;
    font: 'Cabin', sans-serif;
}

h1 {
    font-size: 3em;
    color: var(--black);
    text-align: center;
}

/*header*/

.aligned {
    display: flex;
    align-items: center;
    margin: 1% 20%;
    width: 50%;
    margin: 0 auto;
}

img {
    height: 20vh;
    padding: 10%;
}

/* quiz container*/

.container {
    width: 80vw;
    height: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--opal);
}

.flex-center {
    flex-direction: column;
}

.btn {
    font-size: 2rem;
    padding: 20px;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    background-color: var(--java);
    border-radius: 25px;
    display: inline-block;
}

@media screen and (max-width: 1024px) {

/*quiz container */

    .aligned {
        width: 85%;
    }

    .btn {
        font-size: 1em;
        width: 15rem;
    }
}

@media screen and (max-width: 700px) {

/*header*/ 

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1rem;
    }

    img {
        height: 15vh;
    }

/*quiz container */

    .aligned {
        width: 80%;
    }

    .btn {
        width: 5rem;
        padding: 5%;
    }
    
}