/*@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@1,300;1,500&display=swap');

:root {
    --genoa: #29726C;
    --denim: #0d6db7;
    --java: #2F918B;
    --opal: #A2BEBB;
    --black: #000000;
}

* {
    box-sizing: border-box;
}


/*navbar */

.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    border: 0;
    font-size: 7px !important;
    letter-spacing: 4px;
    border-radius: 0;
    padding: 7px;
}

.navbar li a,
.navbar .navbar-brand {
    color: var(--genoa) !important;
    padding-top: 5%;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: white !important;
    background-color: var(--java) !important;
    border-radius: 25px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: var(--genoa);
}

#hamburger .icon-bar {
    background: var(--genoa);
}

#hamburger:hover,
#hamburger.is-active {
    background: var(--java) !important;
}

#hamburger:hover .icon-bar,
#hamburger.is-active .icon-bar {
    background: white !important;

}

#hamburger:focus {
    background: var(--java);
}

#hamburger:focus .icon-bar {
    background: #FFF;
}

.navbar-nav>li>a {
    padding: 27px 10px;
    margin: auto 15px auto 5px;
}

.navbar-header {
    width: 50%;

}

/*header*/

.left-about {
    width: 40%;
    float: left;
    padding: 15% 5%;
}

.right-about {
    width: 60%;
    float: right;
}

.right-about>img {
    width: 100%;
    padding-right: 5%;
}

.centered {
    text-align: center;
}

#background-container {
    background-image: url('/assets/images/stamps-visa-background.jpg');
    background-size: contain;
    width: 70%;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    height: 850px;
}

section{
    margin-top:100px;
}
h1,
#question {
    font-family: 'Lato', sans serif;
    font-size: 3em;
    color: var(--black);
    text-align: center;
}

h2 {
    font-size: 2.3em;
}

p,
li {

    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#highScoresList {
    margin: 0 auto;
    width: max-content;
    line-height: 3em;
}

/*header*/

.aligned {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 25% auto;
}

.header-img {
    height: 9vh;
    margin-left: 10px;
    float: left;
}

/* quiz container*/

.container {
    width: 80%;
    max-width: 600px;
    display: flex;
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(162, 190, 187, 0.9);
    border-radius: 25px;
}

#score {
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    font-weight: bolder;

}

#start-button,
#next-button {
    width: 200px;
    font-weight: 400;
    background-color: #CD000B;
    color: white !important;
}

a {
    color: white;
}

a:hover {
    color:white!important;
    text-decoration:solid;
}
.button {
    font-size: 1.3em;
    padding: 15px;
    width: 400px;
    background-color: var(--java);
    border-radius: 25px;
    display: block;
    margin: 2% auto;
    color: black;
    text-decoration: none;
    text-align: center;
}

.hide {
    display: none !important;
}


#question-image {
    width: 100%;
    border-radius: 10px;
}

/* correct and wrong answers*/

.correct {
    background-color: rgb(59, 115, 18);
    color: white;
}

.wrong {
    background-color: rgb(217, 4, 22);
    color: white;
}

/* Error pop up */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* End page */

.box {
    display: block;
    padding: 2%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 14em;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: 1px var(--black) solid;
    box-shadow: var(--genoa);
}

input::placeholder {
    color: var(--java);
}


@media screen and (max-width: 1024px) {
    h2 {
        font-size: 1.3em;
    }

    .navbar .navbar-brand {
        padding-top: 7%;
    }

    .header-img {
        height: 7vh;
    }

    /*quiz container */

    #question-image {
        width: 90%;
        margin: 0 5%;
    }

    @media screen and (max-width: 700px) {

        .navbar-header {
            width: 100%;
        }

        .navbar .navbar-brand {
            padding-top: 4%;
            font-size: 1.7em;
        }

        .navbar li a {
            font-size: xx-small;
            padding: 10px 0px 0px 20px;
            font-weight: 600;
        }

        .left-about,
        .right-about {
            width: 100%;
            float: left;
            padding-top: 0;
        }
 

        /*quiz container */

        #start-container,
        #quiz-container {
            width: 85%;
        }

        section {
            width: 100%;
        }

        #question {
            font-size: 1.5em;
        }

        .button {
            width: 230px;
            padding: 10px;
        }

        #start-button {
            
            margin: 3% auto;
        }


    }
}